
.task-item__options-wrapper {
  position: relative;
}

.task-item__options-wrapper .optionsBtn {
  border: none;
  background-color: transparent;
  color: var(--secondary-text-color);
  font-size: 1.6em;
  cursor: pointer;
}

.task-item__options-wrapper .options {
  /* display: none; */
  position: absolute;
  z-index: 5;
  bottom: -145px;
  right: 0;
  width: 180px;
  border: solid 1px #ccc;
  padding: 1em 0;
  border-radius: 3px;
  background-color: white;
}

.options button {
  font-family: 'Poppins', sans-serif;
}

.options .deleteBtn {
  width: 100%;
  padding: .8em 0 .8em 1.3em;
  font-size: 1.4em;
  background-color: transparent;
  color: var(--primary-text-color);
  border: none;
  /* border-bottom: solid 1px #ccc; */
  display: flex;
  align-items: center;
}

.options .faIcon {
  color: var(--secondary-text-color);
  margin-right: .5em;
  font-size: 1.1em;
}

.options button:hover {
  background-color: rgb(241, 241, 241);
}

.list-option {
  position: relative;
}

.options .addToListOpt {
  display: block;
  padding: .8em 0 .8em 1.3em;
  font-size: 1.4em;
  color: var(--primary-text-color);
  cursor: pointer;

}

.options .addToListOpt:hover {
  background-color: rgb(241, 241, 241);
}

.list-option .list {
  /* display: none; */
  padding: .5em 0;
  position: absolute;
  z-index: 5;
  top: 0;
  left: calc(-150px);
  width: 150px;
  border: solid 1px #ccc;
  border-radius: 3px;
  max-height: 300px;
  background-color: white;
}

.list-option .list li {
  font-size: 1.4em;
  padding: .5em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.list-option .list li:hover {
  background-color: rgb(241, 241, 241);
}

.datePicker-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0em .5em 0em 1.7em;
}

.datePicker-wrapper:hover {
  background-color: rgb(241, 241, 241);
}

.datePicker-wrapper .faIcon {
  flex-grow: auto;
  font-size: 1.6em;
  margin-right: .7em;
}

.datePicker {
  width: 100%;
  border: none;
  font-size: 1.4em;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-text-color);
  background-color: transparent;
  padding: .9em 0;
}

