.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  height: 50px;
  border-bottom: solid 1px #eeeeee;
  padding: .5em 1em;
}

.task-item__wrapper input[type="checkbox"] {
  margin-right: 2em;
  height: 16px;
  width: 16px;
  position: relative;
  vertical-align: middle;
  border: solid 2px var(--primary-text-color);
}

.task-item__wrapper label {
  font-size: 1.7em;
  color: var(--primary-text-color);
}

.task-item__wrapper.task-due__wrapper {
  font-size: 1.4em;
  color: var(--secondary-text-color);
  text-align: right;
}


.task-due__wrapper.overdue .due-txt{
  color: #e63946;
}