.task-list__container {
  padding: 0 1em;
}

.task-list .task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  font-size: 1.6em;
  height: 50px;
  border-bottom: solid 1px #eeeeee;
}

.task-item__wrapper input[type="checkbox"] {
  margin-right: 2em;
  height: 16px;
  width: 16px;
  position: relative;
  vertical-align: middle;
  border: solid 2px var(--primary-text-color);
}