.task-input__container {
  margin: 16px 0;
  height: 47px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 0 1em;
}

.task-input__container .input-wrapper.text-wrapper {
  flex-grow: 1;
}

.task-input__container .input-wrapper input[type="text"] {
  font-size: 1.6em;
  width: 100%;
  padding: .3em .5em;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: transparent;
  border-style: none;
  outline: none;
}

.task-input__container .input-wrapper.date-wrapper {
  flex-grow: auto;
}

.task-input__container .input-wrapper input[type="date"] {
  height: 100%;
  font-size: 1.6em;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: transparent;
  border: none;
  outline: none;
}