.task-list {
  margin: 2em 2em;
}

.task-list__header {
  font-size: 1.6em;
  color: var(--primary-text-color);
}

.task-list .lists {
  padding-left: 1em;
  font-size: 1.5em;
  color: var(--primary-text-color);
}

.task-list .lists li { 
  margin: .2em;
  padding: 5px 3px;
}